<div class="cover-menu-item-inner">
    <div class="cover-menu-item-content">
        {{#if displayTitle}}
        <div class="cover-menu-item-title">{{{displayTitle}}}</div>
        {{/if}}
        {{#if body}}
        <div class="cover-menu-item-body">{{{body}}}</div>
        {{/if}}
        {{#if duration}}
        <div class="cover-menu-item-duration">{{{_globals._menu._coverMenu.durationLabel}}}{{{duration}}}</div>
        {{/if}}
        <button class="cover-menu-item-button">{{{linkText}}}</button>
    </div>
</div>
