<div class="menu-item-inner" role="menuitem" aria-label="{{_globals._menu._coverMenu.menuItem}}" {{#if _globals._menu._coverMenu.menuItem}}tabindex="0"{{/if}}>
    <div class="menu-item-title">
        <div class="menu-item-title-inner h3 accessible-text-block" role="heading" aria-level="2" tabindex="0">{{{displayTitle}}}</div>
	</div>
	<div class="menu-item-body">
		<div class="menu-item-body-inner">{{{a11y_text body}}}</div>
	</div>
    {{#if duration}}
	<div class="menu-item-duration">
		<div class="menu-item-duration-inner accessible-text-block" role="region" tabindex="0">{{#if _globals._menu._coverMenu.durationLabel}}{{{_globals._menu._coverMenu.durationLabel}}}{{/if}} {{{duration}}}</div>
	</div>
    {{/if}}
	{{#unless _isLocked}}
	<a class="menu-item-route button {{#if _isVisited}}visited{{/if}} accessible-text-block" href="#/id/{{_id}}" aria-label="{{_coverMenu_ariaLabels.menuViewButton}}">
		{{{linkText}}}
	</a>
	{{/unless}}
	{{#if _assessment}}
	<div class="menu-item-assement-details">
		<div class="menu-item-assement-details-inner">
			<div><b>Assessment Summary:</b></div>
			<div><b>Completion status:</b> {{#if _assessment.isComplete}}Complete{{else}}Not Completed{{/if}} </div>
			{{#if _assessment.hasScore}}
				<div><b>Last Attempt Score:</b> {{_assessment.scoreAsPercentage}}%</div>
			{{/if}}
			<div><b>Passed status:</b> {{#if _assessment.isPassed}}Passed{{else}}Not Passed{{/if}} </div>
		</div>
	</div>
	{{/if}}
	<div class="menu-item-spacer"></div>
</div>